<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Cars and Motorcycles!!!</h1>
  <% if (user) { %>
    <h2>All Cars and Motorcycles!</h2>
    <form action="/vehicles" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Fast?
        <input type="checkbox" name="fast">
      </label>
      <button type="submit">Add Vehicle</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>